html{
    font-size: 25px;
}

body{
    background-color: darkgray;
    font-family: "Nothing You Could Do", cursive;
}

p{
    text-align: center;
    margin: 2% 25% 0%;
}

button{
    font-size: 0.9rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

#title{
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 6rem;
}

#intro{
    font-size: 1.5rem;
    margin-bottom: 100px;
}

#startButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px;
    font-size: 1.4rem;
}

#ending-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    padding: 25px;
}


.slide{
    display: none;
    position: relative;
}


.controls{
    text-align: center;
    margin: 25px;
}

#StartOver p{
    font-family: "Merriweather", serif;
    font-size: 2rem;
    margin-bottom: 30px;
}

.mobileButton{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.mobileButton-flex{
    display: none;
}

.audioControls{
    position: fixed;
    bottom: 0;
}


/*small screen size*/
@media (max-width: 1000px){
    html{
        font-size: 50px;
    }
    p{
        margin: 2% 10% 0%;
    }
    img {
        width: 100%;
    }
    .mobileText{
        display: none;
    }
    .mobileButton{
        display: block;
    }
    .mobileButton-flex{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    }
}